body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0 120px;
  background-image: url("./images/bg/desktop.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
  min-height: 1024px;
  max-width: 1440px;
}

.logo {
  width: 200px;
  height: 50px;
  padding: 30px 0 216px;
}

h1 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
.date {
  color: #232222;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 261px;
  height: 42px;
  margin: 0;
}
.frame {
  display: flex;
  width: 1209px;
  height: 144px;
  align-items: flex-end;
  gap: 372px;
  margin-bottom: 40px;
}
p {
  color: #878787;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

a {
  color: #1d56a7;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

a:hover {
  text-decoration: underline;
}
.grawety {
  color: #232222;
  font-family: PT Mono;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 576px;
  height: 144px;
}
.coming {
  color: #232222;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 443px;
  height: 76px;
}

.p1 {
  width: 1200px;
  height: auto;
  padding-bottom: 20px;
}
.content {
  display: contents;
}
.ul-frame {
  padding-bottom: 80px;
}

@media screen and (max-width: 390px) {
  body {
    padding: 0 40px;
    width: 390px;
    background-image: url("./images/bg/phone.jpg");
  }
  .logo {
    display: flex;
    margin: 0 81px;
    width: 148px;
    height: 37px;
    padding: 30px 0 80px;
  }
  ul {
    display: block;
  }
  .grawety {
    color: #232222;
    font-family: PT Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 310px;
    height: 207px;
  }
  .date {
    color: #232222;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    width: 118px;
    height: 20px;
  }

  .frame {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 247px;
    gap: 0;
    align-items: flex-start;
  }

  .coming {
    color: #232222;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 277px;
    height: 46px;
    gap: 40px;
  }

  .p1 {
    width: 310px;
    height: 152px;
    padding-bottom: 40px;
  }
  .p2 {
    width: 310px;
    height: 38px;
  }
  p {
    color: #878787;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  a {
    color: #1d56a7;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
}
